#deletebtn {
    background-color: rgb(190, 9, 9);
    border-color: black;
    width: 100px;
    margin-left: 2px;
}

#deletebtn:hover {
    background-color: rgb(190, 9, 9);
}

#rentbtn {
    background-color: rgb(15, 145, 15);
    border-color: black;
    color: white;
    margin-bottom: 5px;
    width: 202px;

}

#rentbtn:hover {
    background-color: rgb(15, 145, 15);
}

#updatebtn {
    background-color: black;
    color: white;
    border-color: black;
    width: 100px;
    margin-left: 18px;
}

#updatebtn:hover {
    background-color: rgb(104, 178, 212);
}