a {
    color: white
}

#navi {
    border-radius: 0 0 5px 5px;
}

#logoutbtn {
    color: rgb(245, 40, 40);
    border-color: rgb(245, 40, 40);
}

#logoutbtn:hover {
    background-color: rgb(245, 40, 40);
    color: white;
}

#logoutbtn:active {
    background-color: rgb(245, 40, 40);
}